    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">
                <img id="img_mainlogo" class="" src="./assets/images/burger.png" alt="Generic placeholder image">
                <h3 id="text_logo" class="text-center">Devoured!</h3>
                <form class="form-inline justify-content-center" action="/burger" method="post">
                    <input type="text" class="form-control" id="text_newBurger" placeholder="Enter the burger you would like devoured!" name="burger_name">
                    <button type="submit" class="btn btn-secondary" id="btn_newBurger">Submit</button>
                </form>
                <hr class="m-y-md">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6" id="div_awaitingDevoured">
                <h5 class="text-center" id="text_colHeader">Devour it!</h5>

				  {{#each burgers}}
				    {{#unless devoured}}
				        <div class="card" id="card_devourIt" data-id="{{id}}">
				            <div class="card-body">
				                <h6 class="card-title float-left" id="card_devourItText">{{burger_name}}</h6>
		                    	<form action="/burger/{{id}}?_method=PUT" method="POST">
								   	<input type="hidden" name="burger_name" value="{{burger_name}}">
								   	<input type="hidden" name="devoured" value="1">
		      						<button type="submit" class="btn btn-primary float-right" id="btn_devourit">Devour it!</button>
		                    	</form>				            
							</div>
				        </div>
				    {{/unless}}
				  {{/each}}

            </div>
            <div class="col-md-6" id="div_devoured">
				<h5 class="text-center" id="text_colHeader">Devoured!</h5>
				  {{#each burgers}}
				    {{#if devoured}}
		                <div class="card" id="card_devoured">
		                    <div class="card-body ">
		                        <h6 class="card-title float-left ">{{burger_name}}</h6>
		                    </div>
		                </div>
				    {{/if}}
				  {{/each}}

            </div>
        </div>
    </div>
    <div class="fixed-bottom div-footer ">
        <a href=" " class="float-left ml-5 text-white ">API Documentation</a>
        <p class="float-right mr-5 text-white ">&copy; Copyright 2018 Ravish Rao</p>
    </div>